

/* .footer-48201 .copyright p {
  color: black !important;
  margin-bottom: -20px !important
} */

.footer-48201-adm {
  background-color: #9FB6CD;
  height: 120px; 
}

.logo-product-admin {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.footer-text {
  color: black !important;
}

.social {
  flex-wrap: wrap !important;
}


.container-footer-adm {
  display: flex !important;
  justify-content: center !important;        

  
}

.col-md-4 {
  text-align: center !important;
}